<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @event.edition %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= form_tag({:action => :generate}, multipart: true) do %>
    <%= hidden_field_tag :event %>
    <%= submit_tag "Generate and Send QR Codes", :class => 'btn btn-primary' %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
