<div class="container">
  <%= tabs_tag :open_tabs => {:id => 'tabs', :class => 'nav nav-tabs top-margin-20'} do |tab| %>
      <%= tab.event 'Events', root_path, :class => 'nav-item' %>
      <%= tab.participant 'Participants', '/participants', :class => 'nav-item' %>
  <% end %>

  <p id="notice" class="success top-margin-20"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= @event.edition %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.date %>
  </p>

  <%= form_tag({:action => :generate}, multipart: true) do %>
      <%= hidden_field_tag :event %>
      <%= submit_tag "Generate and Send QR Codes", :class => 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>